In [16]:
import pandas as pd

In [17]:
# 전력사용량 폴더에서 데이터 호출

usage_2016 = pd.read_excel('전력사용량_16~22/2016.xlsx')
usage_2017 = pd.read_excel('전력사용량_16~22/2017.xlsx')
usage_2018 = pd.read_excel('전력사용량_16~22/2018.xlsx')
usage_2019 = pd.read_excel('전력사용량_16~22/2019.xlsx')
usage_2020 = pd.read_excel('전력사용량_16~22/2020.xlsx')
usage_2021 = pd.read_excel('전력사용량_16~22/2021.xlsx')
usage_2022 = pd.read_excel('전력사용량_16~22/2022.xlsx')

In [18]:
usage_2022

,시군구별 계약종별별 전력사용량,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(단위 : kWh)
1,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
2,2022,서울특별시,종로구,주택용,24799032,24030840,21082506,19922174,19122306,20446064,26658320,30565429,24289712,20038789,19815027,22161770
3,2022,서울특별시,종로구,일반용,117205665,110074405,95738047,87398244,87152665,97931230,115665110,121707499,104182406,88013895,87213918,108162883
4,2022,서울특별시,종로구,교육용,11064107,10246892,8434552,7525722,6594830,7803407,9486678,9540822,8797864,7191532,7124513,9731798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,2022,세종특별자치시,세종시,합 계,-298712777,320317372,313436948,303255300,290989455,301368688,333617467,351081461,329434500,298635306,307210784,331444784
1833,2022,황해북도,개성시,주택용,0,0,0,0,0,0,0,0,0,0,0,0
1834,2022,황해북도,개성시,일반용,0,0,0,0,0,0,0,0,0,0,0,0
1835,2022,황해북도,개성시,산업용,0,0,0,0,0,0,0,0,0,0,0,0
1836,2022,황해북도,개성시,합 계,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
# 각 연도별로 컬럼명을 2번째 행으로 변경
usage_2016.columns = usage_2016.iloc[1]
usage_2017.columns = usage_2017.iloc[1]
usage_2018.columns = usage_2018.iloc[1]
usage_2019.columns = usage_2019.iloc[1]
usage_2020.columns = usage_2020.iloc[1]
usage_2021.columns = usage_2021.iloc[1]
usage_2022.columns = usage_2022.iloc[1]

# 첫 번째 행 삭제
usage_2016 = usage_2016.drop(0)
usage_2016 = usage_2016.drop(1)

usage_2017 = usage_2017.drop(0)
usage_2017 = usage_2017.drop(1)

usage_2018 = usage_2018.drop(0)
usage_2018 = usage_2018.drop(1)

usage_2019 = usage_2019.drop(0)
usage_2019 = usage_2019.drop(1)

usage_2020 = usage_2020.drop(0)
usage_2020 = usage_2020.drop(1)

usage_2021 = usage_2021.drop(0)
usage_2021 = usage_2021.drop(1)

usage_2022 = usage_2022.drop(0)
usage_2022 = usage_2022.drop(1)

# 인덱스 재설정
usage_2016 = usage_2016.reset_index(drop=True)
usage_2017 = usage_2017.reset_index(drop=True)
usage_2018 = usage_2018.reset_index(drop=True)
usage_2019 = usage_2019.reset_index(drop=True)
usage_2020 = usage_2020.reset_index(drop=True)
usage_2021 = usage_2021.reset_index(drop=True)
usage_2022 = usage_2022.reset_index(drop=True)

In [20]:
# 2016년도 광주광역시의 사용량 데이터 추출
usage_2016_T = usage_2016[usage_2016['시도'] == '광주광역시']

# 2017년도 광주광역시의 사용량 데이터 추출
usage_2017_T = usage_2017[usage_2017['시도'] == '광주광역시']

# 2018년도 광주광역시의 사용량 데이터 추출
usage_2018_T = usage_2018[usage_2018['시도'] == '광주광역시']

# 2019년도 광주광역시의 사용량 데이터 추출
usage_2019_T = usage_2019[usage_2019['시도'] == '광주광역시']

# 2020년도 광주광역시의 사용량 데이터 추출
usage_2020_T = usage_2020[usage_2020['시도'] == '광주광역시']

# 2021년도 광주광역시의 사용량 데이터 추출
usage_2021_T = usage_2021[usage_2021['시도'] == '광주광역시']

# 2022년도 광주광역시의 사용량 데이터 추출
usage_2022_T = usage_2022[usage_2022['시도'] == '광주광역시']

In [21]:
def psum(usage):
    # '합 계' 계약종별 데이터만 추출
    usage_df = usage[usage['계약종별'] == '합 계']
    # 불필요한 컬럼 제거
    usage_df = usage_df.drop(['연도', '시도', '시군구', '계약종별'], axis = True)
    # 인덱스 초기화
    usage_df = usage_df.reset_index(drop = True)

    df_ = []
    # 1월부터 12월까지 각각의 합을 리스트에 저장
    for i in range(1, 13):
        df_.append(usage_df[f'{i}월'].sum())

    return df_

df_2016 = psum(usage_2016_T)
df_2017 = psum(usage_2017_T)
df_2018 = psum(usage_2018_T)
df_2019 = psum(usage_2019_T)
df_2020 = psum(usage_2020_T)
df_2021 = psum(usage_2021_T)
df_2022 = psum(usage_2022_T)

In [22]:
# 2016년도 데이터프레임 생성 함수
def dataframe2016(data):
    year = [2016, 2016, 2016, 2016, 2016, 2016, 2016,
            2016, 2016, 2016, 2016, 2016, ]  # 2016년도
    month = ['1', '2', '3', '4', '5', '6', '7',
             '8', '9', '10', '11', '12', ]  # 1월부터 12월까지
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'usage': data})  # 데이터프레임 생성
    return all_df

# 2017년도 데이터프레임 생성 함수


def dataframe2017(data):
    year = [2017, 2017, 2017, 2017, 2017, 2017, 2017,
            2017, 2017, 2017, 2017, 2017, ]  # 2017년도
    month = ['1', '2', '3', '4', '5', '6', '7',
             '8', '9', '10', '11', '12', ]  # 1월부터 12월까지
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'usage': data})  # 데이터프레임 생성
    return all_df

# 2018년도 데이터프레임 생성 함수


def dataframe2018(data):
    year = [2018, 2018, 2018, 2018, 2018, 2018, 2018,
            2018, 2018, 2018, 2018, 2018, ]  # 2018년도
    month = ['1', '2', '3', '4', '5', '6', '7',
             '8', '9', '10', '11', '12', ]  # 1월부터 12월까지
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'usage': data})  # 데이터프레임 생성
    return all_df

# 2019년도 데이터프레임 생성 함수


def dataframe2019(data):
    year = [2019, 2019, 2019, 2019, 2019, 2019, 2019,
            2019, 2019, 2019, 2019, 2019, ]  # 2019년도
    month = ['1', '2', '3', '4', '5', '6', '7',
             '8', '9', '10', '11', '12', ]  # 1월부터 12월까지
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'usage': data})  # 데이터프레임 생성
    return all_df

# 2020년도 데이터프레임 생성 함수


def dataframe2020(data):
    year = [2020, 2020, 2020, 2020, 2020, 2020, 2020,
            2020, 2020, 2020, 2020, 2020, ]  # 2020년도
    month = ['1', '2', '3', '4', '5', '6', '7',
             '8', '9', '10', '11', '12', ]  # 1월부터 12월까지
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'usage': data})  # 데이터프레임 생성
    return all_df

# 2021년도 데이터프레임 생성 함수


def dataframe2021(data):
    year = [2021, 2021, 2021, 2021, 2021, 2021, 2021,
            2021, 2021, 2021, 2021, 2021, ]  # 2021년도
    month = ['1', '2', '3', '4', '5', '6', '7',
             '8', '9', '10', '11', '12', ]  # 1월부터 12월까지
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'usage': data})  # 데이터프레임 생성
    return all_df

# 2022년도 데이터프레임 생성 함수


def dataframe2022(data):
    year = [2022, 2022, 2022, 2022, 2022, 2022, 2022,
            2022, 2022, 2022, 2022, 2022, ]  # 2022년도
    month = ['1', '2', '3', '4', '5', '6', '7',
             '8', '9', '10', '11', '12', ]  # 1월부터 12월까지
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'usage': data})  # 데이터프레임 생성
    return all_df



df_2016 = dataframe2016(df_2016)
df_2017 = dataframe2017(df_2017)
df_2018 = dataframe2018(df_2018)
df_2019 = dataframe2019(df_2019)
df_2020 = dataframe2020(df_2020)
df_2021 = dataframe2021(df_2021)
df_2022 = dataframe2022(df_2022)

In [23]:
# 2016년부터 2022년까지의 데이터프레임 병합
df_all = pd.concat([df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022])

# 인덱스를 리셋
df_all = df_all.reset_index()

# 기존 인덱스 열을 삭제
df_all = df_all.drop(['index'], axis = 1)
df_all

    year month      usage
0   2016     1  753434128
1   2016     2  756942825
2   2016     3  714022910
3   2016     4  675078079
4   2016     5  630983018
..   ...   ...        ...
79  2022     8  892014835
80  2022     9  806887743
81  2022    10  691579483
82  2022    11  690524525
83  2022    12  744368423

[84 rows x 3 columns]

In [24]:
# csv 파일로 저장
df_all.to_csv("power_usage.csv")