In [89]:
import pandas as pd

In [90]:
weather = pd.read_csv('weather_day_df.csv')

In [91]:
weather = weather.drop(columns = 'Unnamed: 0')

In [92]:
weather = weather[['year', 'month', 'day', 'temp', 'cloud', 'rainfall_total', 'Humidity_mean', 'solar']]

In [93]:
weather

     year  month  day  temp  cloud  rainfall_total  Humidity_mean  solar
0    2021      1    1  -0.6    7.3             0.0           83.1   9.00
1    2021      1    2  -0.3    3.8             0.5           67.8  12.54
2    2021      1    3  -0.6    7.3             0.0           54.6  10.37
3    2021      1    4   1.2    3.1             0.0           71.8  10.07
4    2021      1    5  -0.2    8.0             0.0           64.9   7.74
..    ...    ...  ...   ...    ...             ...            ...    ...
725  2022     12   27   0.3    1.8             0.0           74.1  13.08
726  2022     12   28  -0.2    5.3             0.0           75.4   9.62
727  2022     12   29   0.7    2.1             0.0           63.3  12.25
728  2022     12   30   1.0    6.3             0.0           70.4   9.25
729  2022     12   31   1.4    1.4             0.0           66.1  12.02

[730 rows x 8 columns]

In [102]:
usage_by_day2101 = pd.read_excel('광주전남_일별_전력사용량데이터/전력량추이정보+현황_2021.01.xls')
usage_by_day2102 = pd.read_excel('광주전남_일별_전력사용량데이터/전력량추이정보+현황_2021.02.xls')
usage_by_day2103 = pd.read_excel('광주전남_일별_전력사용량데이터/전력량추이정보+현황_2021.03.xls')
usage_by_day2104 = pd.read_excel('광주전남_일별_전력사용량데이터/전력량추이정보+현황_2021.04.xls')
usage_by_day2105 = pd.read_excel('광주전남_일별_전력사용량데이터/전력량추이정보+현황_2021.05.xls')
usage_by_day2106 = pd.read_excel('광주전남_일별_전력사용량데이터/전력량추이정보+현황_2021.06.xls')
usage_by_day2102

   전력량추이정보 현황 Unnamed: 1 Unnamed: 2      Unnamed: 3     Unnamed: 4
0         No.          일        고객수        최대수요(kW)       사용량(kWh)
1           1         01     695648   42,817,324.39  10,827,504.23
2           2         02     695378  164,012,153.50  11,988,750.99
3           3         03     695378   54,992,772.24  11,144,786.22
4           4         04     696170   50,299,933.27  10,636,186.02
5           5         05     696231   44,263,394.83  11,207,579.60
6           6         06     695699   41,713,886.14  10,613,986.48
7           7         07     695710   40,098,807.38  10,625,817.49
8           8         08     695714   44,448,821.26  11,118,687.87
9           9         09     695480   42,671,288.23  11,642,488.34
10         10         10     695307   56,912,305.10  11,386,415.50
11         11         11     695196   41,690,192.74  10,460,928.62
12         12         12     695197   50,671,756.37  10,552,279.98
13         13         13     695201   48,063,368.26  10,086,433.03
14         14         14     695204   41,074,672.34   9,731,673.15
15         15         15     695205   49,818,108.94  10,586,733.01
16         16         16     674766   51,172,526.09  11,146,163.90
17         17         17     674535   52,582,732.90  12,295,603.50
18         18         18     674378   59,241,329.81  12,663,186.49
19         19         19     674258   54,768,599.28  11,901,151.89
20         20         20     674748   42,189,927.82  10,532,084.32
21         21         21     674750   39,113,274.24   9,853,147.15
22         22         22     674745   45,267,175.15  10,558,934.94
23         23         23     674563   49,218,881.95  10,475,597.28
24         24         24     674246   43,160,485.90  11,312,194.49
25         25         25     674190   51,385,168.61  12,106,760.05
26         26         26     674144   41,161,327.97  11,061,835.84
27         27         27     674108   47,440,332.96  11,276,630.70
28         28         28     674108   37,423,033.99  10,639,258.30

In [95]:
# 첫 번째 행을 columns로 지정
usage_by_day2101.columns = usage_by_day2101.iloc[0]

# 첫 번째 행 제거
usage_by_day2101 = usage_by_day2101.drop(0)

# 'No.' 열 제거
usage_by_day2101 = usage_by_day2101.drop(columns='No.')


# 첫 번째 행을 columns로 지정
usage_by_day2102.columns = usage_by_day2102.iloc[0]

# 첫 번째 행 제거
usage_by_day2102 = usage_by_day2102.drop(0)

# 'No.' 열 제거
usage_by_day2102 = usage_by_day2102.drop(columns='No.')


# 첫 번째 행을 columns로 지정
usage_by_day2103.columns = usage_by_day2103.iloc[0]

# 첫 번째 행 제거
usage_by_day2103 = usage_by_day2103.drop(0)

# 'No.' 열 제거
usage_by_day2103 = usage_by_day2103.drop(columns='No.')


usage_by_day2104.columns = usage_by_day2104.iloc[0]
usage_by_day2104 = usage_by_day2104.drop(0)
usage_by_day2104 = usage_by_day2104.drop(columns = 'No.')


usage_by_day2105.columns = usage_by_day2105.iloc[0]
usage_by_day2105 = usage_by_day2105.drop(0)
usage_by_day2105 = usage_by_day2105.drop(columns = 'No.')


usage_by_day2106.columns = usage_by_day2106.iloc[0]
usage_by_day2106 = usage_by_day2106.drop(0)
usage_by_day2106 = usage_by_day2106.drop(columns = 'No.')

In [101]:
len(usage_by_day2103['일'])

31

In [97]:
def dataframe2021_1(data):
    year = [2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021]
            
    month = [1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,1] 
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'day': data['일'],
                           'users' : data['고객수'],
                           'greatest demand(kW)' : data['최대수요(kW)'],
                           'usage(kWh)' : data['사용량(kWh)']})
    return all_df

def dataframe2021_1(data):
    year = [2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021]
            
    month = [2,2,2,2,2,2,2,2,2,2,
             2,2,2,2,2,2,2,2,2,2,
             2,2,2,2,2,2,2,2,]
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'day': data['일'],
                           'users' : data['고객수'],
                           'greatest demand(kW)' : data['최대수요(kW)'],
                           'usage(kWh)' : data['사용량(kWh)']})
    return all_df

    def dataframe2021_1(data):
    year = [2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021]
            
    month = [1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,1] 
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'day': data['일'],
                           'users' : data['고객수'],
                           'greatest demand(kW)' : data['최대수요(kW)'],
                           'usage(kWh)' : data['사용량(kWh)']})
    return all_df

    def dataframe2021_1(data):
    year = [2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021]
            
    month = [1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,1] 
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'day': data['일'],
                           'users' : data['고객수'],
                           'greatest demand(kW)' : data['최대수요(kW)'],
                           'usage(kWh)' : data['사용량(kWh)']})
    return all_df

    def dataframe2021_1(data):
    year = [2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021]
            
    month = [1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,1] 
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'day': data['일'],
                           'users' : data['고객수'],
                           'greatest demand(kW)' : data['최대수요(kW)'],
                           'usage(kWh)' : data['사용량(kWh)']})
    return all_df

    def dataframe2021_1(data):
    year = [2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021,2021,2021,2021,2021,
            2021]
            
    month = [1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,
             1,1,1,1,1,1,1,1,1,1,1] 
    all_df = pd.DataFrame({'year': year,
                           'month': month,
                           'day': data['일'],
                           'users' : data['고객수'],
                           'greatest demand(kW)' : data['최대수요(kW)'],
                           'usage(kWh)' : data['사용량(kWh)']})
    return all_df

usage_by_day2101 = dataframe2021(usage_by_day2101)